<html>


   <form action="/update-details/<%= list.id %>" method="post">
   <h2> <strong name="email"><%= list.email %></strong> </h2>
   <input type="text" name ="name" required placeholder="change the name" >
   <input type="password" name="password" placeholder="change the password" required >
      
   <button type="submit">submit</button>

   </form>

</html>